
<h2 class="text-center m-3">Cadastrar Usuário</h2>
<hr>
<br>
<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
        <label for="firstname1">Firstname</label>
        <input id="firstname1" type="text" pInputText>
    </div>
    <div class="p-field p-col">
        <label for="lastname1">Lastname</label>
        <input id="lastname1" type="text" pInputText>
    </div>
    <div class="p-field p-col">
        <label for="lastname1">Lastname</label>
        <input id="lastname1" type="text" pInputText>
    </div>
</div>

<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
        <label for="firstname1">Firstname</label>
        <input id="firstname1" type="text" pInputText>
    </div>
    <div class="p-field p-col">
        <label for="lastname1">Lastname</label>
        <input id="lastname1" type="text" pInputText>
    </div>
</div>
<br>
<hr>
<br>
<div class="p-fluid p-formgrid">
  <span class="p-buttonset">
    <button pButton pRipple icon="pi pi-check" class="p-button-success p-mr-2" (click)="adicionar()" label="Cadastrar" ></button>
    <button pButton pRipple icon="pi pi-times" class="p-button-danger" label="Cancelar"></button>
  </span>
</div>
