<div class="container">
  <div class="card list-car">
    <h3 class="text-center col-md-3 col-11" >Lista de Usuarios</h3>
    <div class="card-body table-responsive" *ngIf="carregarLoading; else carregando">
      <div class="col-md-3 col-12 d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="#" [routerLink]="['/usuarios/cadastrar']" class="btn btn-dark btn-lg">Cadastrar
          <i class="fas fa-plus"></i></a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">Data nascimento</th>
            <th scope="col">Data criação</th>
            <th scope="col">Data Atualização</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of usuarios">
            <th scope="row">{{u.idUsuario}}</th>
            <td>{{u.nome}}</td>
            <td>{{u.login}}</td>
            <td>{{u.email}}</td>
            <td>{{u.dataNascimento}}</td>
            <td>{{u.dataCriacao}}</td>
            <td>{{u.dataAtualizacao}}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm">Editar</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(u.idUsuario)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #carregando>
  <div id="preloader">
    <div class="inner">
      <div class="bolas">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</ng-template>
