<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="Novo Cadastro" icon="pi pi-plus" class="p-button-success p-mr-2" [routerLink]="['cadastrar']"></button>
    </ng-template>
  </p-toolbar>
  <p-table [value]="usuarios">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h3 class="p-m-0 ">Listar Usuários</h3>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Login</th>
        <th>Email</th>
        <th>Data nascimento</th>
        <th>Data criação</th>
        <th>Data Atualização</th>
        <th>Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuarios>
      <tr>
        <td>{{usuarios.idUsuario}}</td>
        <td>{{usuarios.nome}}</td>
        <td>{{usuarios.login}}</td>
        <td>{{usuarios.email}}</td>
        <td>{{usuarios.dataNascimento | date : "dd/MM/yyyy" }}</td>
        <td>{{usuarios.dataCriacao | date : "dd/MM/yyyy HH:mm:ss" }}</td>
        <td>{{usuarios.dataAtualizacao | date : "dd/MM/yyyy HH:mm:ss"}}</td>
        <td>
          <span class="p-buttonset">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editarUsuario(usuarios.idUsuario)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteUser(usuarios.idUsuario)"></button>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ng-template #carregando>
  <div id="preloader">
    <div class="inner">
      <div class="bolas">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</ng-template>
