<div class="card">
  <p-table [value]="aniver">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h3 class="p-m-0 ">Listar Aniversariantes do Mês</h3>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Data nascimento</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-aniver>
      <tr>
        <td>{{aniver.idUsuario}}</td>
        <td>{{aniver.nome}}</td>
        <td>{{aniver.dataNascimento | date : "dd/MM/yyyy" }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ng-template #carregando>
  <div id="preloader">
    <div class="inner">
      <div class="bolas">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</ng-template>
